.main{
    margin:100px auto;
    
    border: 3px solid green;
    padding: 20px;
    width: 70%;
}
.btn{
    background: cornflowerblue;
    color: white;
    padding: 12px 16px;
    border-radius: 5px;
}
.text{
    font-size: 24px;
    margin: 12px 0px;
}
.input-text{
    margin-right: 30px;
    border: 1px solid rgb(23, 26, 224);
    border-radius: 5px;
    padding: 8px;
}